@import "tailwindcss";

:root {
    /* Colors */
    --bg-color: #F2E7CB;
    --bg-secondary: #F5F1E8;
    --text-color: #333333;
    --dusty-rose: #C8A2C8;
    --sage-green: #B2BEB5;
    --soft-lavender: #E6E6FA;
    --pink-button: #C8A2C8;
    --gold: #8B7355;


    /* HSL colors */
    /* Main */
    --main-10: hsl(45, 85%, 90%);
    --main-50: hsl(45, 85%, 95%);
    --main-100: hsl(45, 69%, 85%);
    --main-200: hsl(45, 50%, 75%);
    --main-300: hsl(45, 40%, 65%);
    --main-400: hsl(45, 30%, 55%);
    --main-500: hsl(45, 20%, 45%);
    --main-600: hsl(45, 15%, 35%);
    --main-700: hsl(45, 10%, 25%);
    --main-800: hsl(45, 5%, 18%);
    --main-900: hsl(45, 3%, 12%);

    /* Primary */
    --primary-100: hsl(215, 60%, 95%);
    --primary-200: hsl(217, 70%, 85%);
    --primary-300: hsl(220, 80%, 70%);
    --primary-400: hsl(225, 90%, 55%);
    --primary-500: hsl(230, 95%, 45%);
    --primary-600: hsl(235, 80%, 35%);
    --primary-700: hsl(240, 70%, 25%);
    --primary-800: hsl(240, 60%, 15%);
    --primary-900: hsl(240, 50%, 8%);

    /* Accent */
    --pink-100: hsl(350, 45%, 95%);
    --pink-200: hsl(350, 60%, 85%);
    --pink-300: hsl(350, 75%, 70%);
    --green-100: hsl(125, 30%, 90%);
    --green-200: hsl(135, 45%, 75%);
    --green-300: hsl(145, 60%, 60%);
    --yellow-100: hsl(50, 80%, 95%);
    --yellow-200: hsl(45, 90%, 80%);
    --yellow-300: hsl(40, 100%, 70%);
    --red-100: hsl(0, 50%, 95%);
    --red-200: hsl(0, 65%, 85%);
    --red-300: hsl(0, 80%, 70%);

    /* Service accordion variables */
    --service-button-small: 2rem;

    @media (min-width: 788px) {
        --service-button-small: 3rem;
    }

    --service-panel-padding: 0.75rem;
    --service-panel-gap: 0.75rem;
    --service-accordion-button: hsl(0 0% 0% / 0.55);
    --service-button-padding: 0.40rem;

    /* Accordion variables */
    --accordion-button: hsl(0 0% 0% / 0.55);
    --button-small: 0.875rem;
    --button-width: 2.2rem;
    --panel-padding: 0.75rem;
    --panels-gap: 1rem;
    --panel-gap: 1rem;

    /* Background gradient */
    --bg-gradient-100: hsl(25, 12%, 75%);
    --bg-gradient-200: hsl(23, 9%, 75%);
    --bg-gradient-300: hsl(24, 11%, 71%);
    --bg-gradient-400: hsl(27, 11%, 70%);
    --bg-gradient-500: hsl(25, 14%, 64%);
    --bg-gradient-600: hsl(23, 15%, 63%);
    --bg-gradient-700: hsl(22, 16%, 61%);
    --bg-gradient-800: hsl(24, 18%, 58%);

    /* Frame variables */
    --top-frame-width: 2;
    --bottom-frame-width: 1;
}

@theme {
    /* --animate-abc: wiggle 1s ease-in-out infinite; */
    --animate-colorShift: colorShift 10s linear infinite;
    /* --animate-scroll: scroll 15s linear infinite; */

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }


    @keyframes colorShift {
        0% {
            color: var(---500);
        }

        25% {
            color: var(--main-900);
        }

        50% {
            color: var(--red-300);
        }

        75% {
            color: var(--yellow-300);
        }

        100% {
            color: var(--green-300);
        }
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.bg-gradient {
    background: linear-gradient(to bottom,
            var(--bg-gradient-100) 0%,
            var(--bg-gradient-200) 10%,
            var(--bg-gradient-300) 20%,
            var(--bg-gradient-400) 30%,
            var(--bg-gradient-500) 40%,
            var(--bg-gradient-600) 50%,
            var(--bg-gradient-700) 60%,
            var(--bg-gradient-800) 70%,
        )
}

.card {
    /* border-radius: 1rem; */
    background-width: cover;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(to bottom, rgba(230, 230, 250, 0.1) 50%, rgba(51, 51, 51, 0.9) 100%);
    overflow: hidden;
    background-position-x: center;
}

.service-panel-opened {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
    transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-closed {
    flex-basis: calc((var(--service-panel-padding) * 2) + var(--service-button-small));
    flex-grow: 0;
    transition: flex-basis 500ms, flex-grow 500ms;
}

.service-panel-paragraph {
    margin-left: calc(var(--service-button-small) + var(--service-panel-gap));
}

@media (max-width: 63.999em) {
    .service-button-bg::after {
        content: "";
        position: absolute;
        left: calc((var(--service-panel-gap) + var(--service-button-small)) * -1);
        width: calc(100% + (var(--service-button-small) * 2));
        height: var(--service-button-small);
        background: hsl(0 0% 0% / 0.5);
        z-index: -1;
        border-radius: 100vw;
    }

}

.panel {
    border-radius: 1rem;
    border: transparent 1px solid;
    background:
        radial-gradient(circle at 50% 250%, var(--main-100), var(--main-100)) padding-box,
        linear-gradient(var(--primary-100), var(--primary-200)) border-box;
}

.panelV2 {
    /* background-image: url("../../public/colouring.jpg"); */
    background-width: cover;
    background-repeat: no-repeat;
    /* filter: brightness(0.5); */
    /* border-radius: 1rem; */
    position: relative;
    /* border: 10px solid; */
    /* margin: 0 auto; */


    >div>div {
        background: hsl(from var(--main-100) hsl / 1);
        backdrop-filter: blur(8px);

    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        /* border-radius: inherit; */
        border: 1px solid transparent;
        background: linear-gradient(var(--main-100), var(--main-200)) border-box;
        mask:
            linear-gradient(black 0 0) border-box,
            linear-gradient(black 0 0) padding-box;
        mask-composite: subtract;
    }
}

.panel-radius {
    /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-width)); */
    /* flex-basis: 200%; */
    /* margin-block-end: 5px; */
    border-radius: calc(((var(--panel-padding) * 2) + var(--button-width)) / 2);
}

.opened-panel {
    /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-width)); */
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
    transition: flex-basis 500ms, flex-grow 500ms;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-200) var(--main-100);
}

.closed-panel {
    flex-basis: calc((var(--panel-padding) * 2) + var(--button-small));
    flex-grow: 0;
    transition: flex-basis 500ms, flex-grow 500ms;

}

.image-brightness {
    filter: brightness(0.5);

    transition: filter 500ms;
}

.image-brightness-light {
    filter: brightness(1);

    transition: filter 500ms;
}

.panel-paragraph {
    margin-left: calc(var(--button-small) + var(--panel-padding));
    padding-inline-end: calc(var(--panel-padding) * 4);
}

@media (min-width: 80rem) {
    .closed-panel {
        /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-width)); */
        flex-grow: 0;
        transition: flex-basis 500ms, flex-grow 500ms;
    }

    .panel-paragraph {
        margin-left: calc(var(--button-width) + var(--panel-padding));
    }
}

.pink-button {
    fill: var(--gold);
}

.dark-button {
    fill: var(--bg-secondary);
}

.card-hair {
    background-image: url("../../public/hair_card.jpg");
}

.card-nail {
    background-image: url("../../public/card_nails.jpg");
}

.text-1 {
    background: linear-gradient(in oklch longer hue 90deg, var(--pink-300), var(--red-300), var(--yellow-300), var(--green-300));
    /* background: linear-gradient(to right in lch longer hue, lch(70% 80 30) 0%, lch(70% 80 330) 100%); */
    background-clip: text;
    color: transparent;
}

.text-2 {
    /* background: linear-gradient(in oklch longer hue 120deg, var(--main-800), var
    (--main-500), var(--main-700), var(--main-600), var(--main-700), var(--main-800), var(--main-600), var(--main-800)); */
    background: linear-gradient(135deg, oklch(95% 0.05 110) 0%, oklch(80% 0.05 110) 25%, oklch(60% 0.05 110) 50%, oklch(85% 0.05 110) 75%, oklch(99% 0.05 110) 100%);
    background-clip: text;
    color: transparent;
}

.text-3 {
    /* background: linear-gradient(in oklch longer hue 120deg, var(--main-800), var(--main-500), var(--main-700), var(--main-600), var(--main-700), var(--main-800), var(--main-600), var(--main-800)); */
    background: linear-gradient(135deg, oklch(95% 0.05 110) 0%, oklch(80% 0.05 110) 25%, oklch(60% 0.05 110) 50%, oklch(85% 0.05 110) 75%, oklch(99% 0.05 110) 100%)
}

.text-4 {
    /* background: linear-gradient(to bottom, oklch(60% 0 0 ) 0%, oklch(35% 0 0 ) 50%, oklch(10% 0 0 ) 100%); */
    background: linear-gradient(oklch(95% 0 0) 0%, oklch(85% 0 0) 10%, oklch(75% 0 0) 20%, oklch(65% 0 0) 30%, oklch(55% 0 0) 40%, oklch(45% 0 0) 50%, oklch(35% 0 0) 60%, oklch(25% 0 0) 70%, oklch(15% 0 0) 80%, oklch(5% 0 0) 90%);
    background-clip: text;
    color: transparent;
}

.text-5 {
    /* background: linear-gradient(to bottom,oklch(80% 0 0) 0%, oklch(45% 0 0 ) 25%, oklch(30% 0 50) 50%, oklch(15% 0 0 ) 100%); */
    background: linear-gradient(oklch(95% 0 0) 0%, oklch(85% 0 0) 10%, oklch(75% 0 0) 20%, oklch(65% 0 0) 30%, oklch(55% 0 0) 40%, oklch(45% 0 0) 50%, oklch(35% 0 0) 60%, oklch(25% 0 0) 70%, oklch(15% 0 0) 80%, oklch(5% 0 0) 90%);
}

.text-6 {
    background: linear-gradient(100deg, var(--main-100) 0%, var(--main-200)50%, var(--main-100) 100%);
    background-clip: text;
    color: transparent;
}

.text-7 {
    /* background: linear-gradient(to bottom, var(--main-400) 0%, var(--main-500) 50%, var(--main-300) 100%); */
    background: linear-gradient(to bottom,
            var(--main-100) 0%,
            var(--main-200) 50%,
            var(--main-300) 100%);
}

.text-dark-gradient {
    background: linear-gradient(to bottom,
            var(--main-50) 0%,
            var(--main-100) 20%,
            var(--main-200) 40%,
            var(--main-100) 50%,
            var(--main-50) 100%);
    background-clip: text;
    color: transparent;
}

.border-gradient {
    /* border-inline-start: 2px solid; */
    /* border-block-start: 2px solid; */
    border: 1px solid;
    border-image-source:
        radial-gradient(circle at top left, var(--main-300), var(--main-400));
    border-image-slice: 1;
}

/* Animations */

@keyframes squish {

    50% {
        scale: 1.4 0.6;
    }
}

.primary-close {
    fill: var(--main-100);
}

.secondary-close {
    fill: var(--main-600);
}

.primary-arrow {
    fill: var(--main-100);
}

.secondary-arrow {
    fill: var(--main-600);
}

.icon-cheveron-left-circle,
.icon-cheveron-right-circle {
    width: 2rem;
    height: 2rem;
}

.testimonial::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background: linear-gradient(var(--main-100), var(--main-500)) border-box;
    mask:
        linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
    mask-composite: subtract;
}

.icon-star {
    width: 2rem;
    height: 2rem;

    .primary-icon-star {
        fill: transparent;
    }

    .secondary-icon-star {
        fill: gold
    }
}

/* GALLERY */
.gallery {
    --rows: 3;
    --columns: 5;
    --width: (70vw - (var(--columns) - 1) * var(--gap)) / var(--columns);
    --height: (70vh - (var(--rows) - 1) * var(--gap)) / var(--rows);
    /* Full screen */
    /* --width: (100vw - (var(--columns) - 1) * var(--gap)) / var(--columns); */
    /* --height: (100vh - (var(--rows) - 1) * var(--gap)) / var(--rows); */
    --gap: 10px;
    --factor: 1.5;

    display: grid;
    /* width: calc((var-(--columns) * var(--width)) + ((var(--columns) - 1) * var(--gap))); */
    width: calc((var(--columns) * var(--width)) + ((var(--columns) - 1) * var(--gap)));
    height: calc((var(--rows) * var(--height)) + ((var(--rows) - 1) * var(--gap)));
    grid-template-columns: repeat(var(--columns), auto);

    img {
        width: 0;
        height: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: bottom;

        transition: 400ms linear;

        &:hover {
            width: calc(var(--width) * var(--factor));
            height: calc(var(--height) * var(--factor));
        }

    }
}

.gallery2 {
    --s: 50px;
    /* control the slanted part */

    display: grid;
    height: 450px;
    gap: 8px;
    grid-auto-flow: column;
    place-items: center;

    img {
        width: 0;
        min-width: calc(100% + var(--s));
        height: 0;
        min-height: 100%;
        object-fit: cover;
        clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
        cursor: pointer;
        transition: .5s;

        &:hover {
            min-width: calc(100% + var(--s)/2);
            place-self: start;
            clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
        }

        &:first-child {
            min-width: calc(100% + var(--s)/2);
            place-self: start;
            clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% 100%, 0 100%);
        }

        &:last-child {
            min-width: calc(100% + var(--s)/2);
            place-self: end;
            clip-path: polygon(var(--s) 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}

.gallery3 {
    --s: 50px;
    --width: 300px;
    --gap: 15px;

    display: grid;
    width: calc((5 * var(--width)) + (4 * var(--gap)));
    /* aspect-ratio: 2 / 3; */
    height: 450px;
    grid-template-columns: repeat(5, auto);
    grid-auto-flow: column;
    gap: var(--gap);

    img {
        width: 0;
        min-width: var(--s);
        height: 0;
        min-height: 100%;
        object-fit: cover;
        clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
        cursor: pointer;
    }
}

.gallery4 {
    --n: 1; /* number of rows*/
    --m: 5; /* number of columns */
    --g: 0px; /* control the gap */
    --f: .8; /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: 70vw;
    height: 70vh;
    max-width: 100%;
    /* aspect-ratio: 3/2; */
    grid-template-columns: repeat(var(--m), auto);
    img {
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        object-position: bottom center;
        cursor: pointer;
        filter: grayscale(60%);
        transition: .35s linear;

        &:hover {
            filter: grayscale(0);
            width: calc(35vh*var(--f)/var(--n));
            height: calc(100vw*var(--f)/var(--m));
        }
    }
}

.scroller {
    position: relative;
}

.scroller_inner {
    display: inline-flex;
    gap: 10px;
    width: max-content;
    will-change: transform;
    backface-visibility: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(calc(-50% - 5px), 0, 0);
    }
}


.scroller::before,
.scroller::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    pointer-events: none;
    z-index: 10;
}

.scroller::before {
    left: 0;
    background: linear-gradient(to right, var(--body-bg, #fff), transparent);
}

.scroller::after {
    right: 0;
    background: linear-gradient(to left, var(--body-bg, #fff), transparent);
}