@import "tailwindcss";

:root {
    /* Colors */
    --bg-color: #F2E7CB;
    --bg-secondary: #F5F1E8;
    --text-color: #333333;
    --dusty-rose: #C8A2C8;
    --sage-green: #B2BEB5;
    --soft-lavender: #E6E6FA;
    --pink-button: #C8A2C8; 
    --gold: #8B7355;
    /* Accordion variables */
    --accordion-button: hsl(0 0% 0% / 0.55);
    --button-size: 3rem;
    --panel-padding: 0.75rem;
    --panels-gap: 1rem;
    --panel-gap: 1rem;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.card {
    /* border-radius: 1rem; */
    background-size: cover;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(to bottom, rgba(230, 230, 250, 0.1) 50%, rgba(51, 51, 51, 0.9) 100%);
    overflow: hidden;
    background-position-x: center;
}

.panel-radius {
    /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-size)); */
    /* flex-basis: 200%; */
    /* margin-block-end: 5px; */
    border-radius: calc(((var(--panel-padding) * 2) + var(--button-size)) / 2);
}

.opened-panel {
    /* flex-basis: calc((var(--panel-padding) * 2) + var(--button-size)); */
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
    transition: flex-basis 500ms, flex-grow 500ms;
    
}

.image-brightness {
    filter: brightness(0.5);

    transition: filter 500ms;
}

.image-brightness-light {
    filter: brightness(1);

    transition: filter 500ms;
}

.closed-panel {
    flex-basis: calc((var(--panel-padding) * 2) + var(--button-size));
    flex-grow: 0;
    transition: flex-basis 500ms, flex-grow 500ms;
}

.panel-paragraph {
    margin-left: calc(var(--button-size) + var(--panel-padding));
    padding-inline-end: calc(var(--panel-padding) * 4);
}

.pink-button {
    fill: var(--gold);
}

.dark-button {
    fill: var(--bg-secondary);
}

.card-hair {
    background-image: url("../../public/hair_card.jpg");
}

.card-nail {
    background-image: url("../../public/card_nails.jpg");
}